*{
    margin: 0;
    padding: 0;
}

.header{
    max-width: 1380px;
    margin: auto;
    height: 100vh;
    background-image: url(imagens/house.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.header__background{
    width: 100%;
    height: 100vh;
    background-color: #2c2c2cb2;
}
.header__logo{
    margin-left: 10%;
    margin-top: 4%;
}
.header__titulo{
    font-family: Helvetica, sans-serif;
    font-size: 2.5rem;
    color: #ffffff;
    margin-left: 10%;
    margin-top: 10%;
}
.header__paragrafo{
    max-width: 440px;
    font-family: Helvetica, sans-serif;
    font-size: 1.1rem;
    color: #ffffff;
    margin-left: 10%;
    margin-top: 5%;
}
#header__btn{
    max-width: 300px;
    padding:10px 30px;
    border-radius: 20px;
    border-style: none;
    background-color: #ff3800;
    font-family: Helvetica, sans-serif;
    font-size: 1.1rem;
    font-weight: 600;
    color: #ffffff;
    margin-left: 10%;
    margin-top: 3%;
    cursor: pointer;
}
.containergeral{
    max-width: 1380px;
    margin: auto;
}
.containergeral__servicopersonalizado{
    max-width: 1160px;
    height: 100vh;
    margin: auto;
    margin-top: 3%;
}
.servicopersonalizado__paragrafo{
    font-family: helvetica,sans-serif;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 2px;
    text-align: center;
}
.servicopersonalizado__titulo{
    margin-top: 25px;
    margin-bottom: 30px;
    font-family: helvetica,sans-serif;
    font-size: 2.2rem;
    text-align: center;
}
.servicopersonalizado__containerdiferenciais{
    display: flex;
    justify-content: space-evenly;
}
.servicopersonalizado__diferenciais{
    width: 300px;
    height: 400px;
    background-color: #f9f7f7;
    box-shadow: 0px 14px 40px rgba(0,0,0,0.14);
}
.servicopersonalizado__diferenciais__item{
    width: 100%;
    height: 400px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.diferenciais__item__img{
    width: 55px;
}
.diferenciais__item__titulo{
    font-size: 1.5rem;
    font-family: helvetica, sans-serif;
    text-align: center;
}
.diferenciais__item__paragrafo{
    font-size: 1rem;
    font-family: Helvetica, sans-serif;
    text-align: center;
}
.containergeral__comofunciona{
    width: 100%;
    background-color: #f9f7f7;
}
.comofunciona__titulo{
    font-family: helvetica, sans-serif;
    font-weight: 600;
    font-size: 2.1rem;
    text-align: center;
    padding-top: 2%;
    margin-bottom: 5px;
}
.comofunciona__titulo__barrainferior{
    width: 200px;
    height: 4px;
    background-color: #000000;
    margin: auto;
}
.comofunciona__paragrafo{
    font-family: helvetica, sans-serif;
    font-size: 1rem;
    text-align: center;
    margin-top: 2%;
}
.comofunciona__sequencia{
    max-width: 900px;
    margin: auto;
    background-color: aquamarine;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
     " passo1 . "
     " . passo2 "
     " passo3 . "
     " . passo4 "
     ;
}
.comofunciona__passo1{
    grid-area: passo1;
    background-color: gray;
}
.comofunciona__passo2{
    grid-area: passo2;
    background-color: gray;
}
.comofunciona__passo3{
    grid-area: passo3;
    background-color: gray;
}
.comofunciona__passo4{
    grid-area: passo4;
    background-color: gray;
}
.sequencia__passos{
    width:350px;
}
.sequencia__passos__divimg{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.passos__divimg__img{
    width: 100px;
}
.passos__divimg__number{
    padding: 6px 12px;
    background-color: #ff3800;
    border-radius: 50%;
    font-family: Helvetica, sans-serif;
    font-weight: 550;
    color: #ffffff;
}
.passos__sequencia{
    margin-bottom: 5px;
    font-family: Helvetica, sans-serif;
    font-size: 1.1rem;
    font-weight: 600;
}
.passos__sequencia__descricao{
    font-family: Helvetica, sans-serif;
    font-size: 0.9rem;
}