*{
    margin: 0;
    padding: 0;
}

.header{
    width: 100vw;
    height: 100vh;
    background-image: url(imagens/house.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.header__background{
    width: 100vw;
    height: 100vh;
    background-color: #2c2c2cb2;
}
